.footer-top{
	background: @white;
	padding-top: 25px;
	min-width: 970px;
	margin-bottom: 23px;
	.menu-footer{
		display: table;
		margin-bottom: 33px;
		.menu{
			display: table-row;
			&__item{
				display: table-cell;
				&+.menu__item{
					.menu__link{
						margin-left: 3px;
					}
				}
				&.active{
					.button-3d {
						.transform(rotateX(89deg));
					}
					 .menu__link{
						background: @dark_red;
						color: @white;
					}
				}
			}
			&__link{
				color: @black;
				font-size: 15px;
				letter-spacing: 1px;
				padding: 5px 7px 3px 8px;
				border-bottom: 1px solid #a6a6a6;
				&:hover{
					background: @dark_grey;
					color: @white;
				}
			}
			.front{
				padding: 5px 10px 3px 9px;
				a{
					font-family: 'bebas_neue_regular';
					letter-spacing: 1px;
					font-size: 15px;
					color: @black;
					text-decoration: none;
					border-bottom: 1px solid #a6a6a6;
				}
			}
			.back a{
				color: @white;
				text-decoration: none;
				background: @dark_grey;
			}
		}
	}
	.info{
		.info__address{
			color: #727272;
			font-size: 13px;
			margin-bottom: 5px;
		}
		.info__phone{
			margin-bottom: 5px;
			color: #727272;
		}
		.info__link{
			color: @dark_red;
		}
		&.info-left{
			min-width: 213px;
		}
	}
	.button-styled{
		color: @black;
		margin-left: 10px;
	}
}
.footer-bottom{
	background: #fffae9;
	padding: 15px 0;
	height: 60px;
	overflow: hidden;
	.copy{
		font-size: 12px;
		float: left;
		margin-right: 65px;
		margin-top: 5px;
		color: #727272;
	}
	.menu{
		&__item{
			margin-right: 10px;
			&.active{
				.button-3d {
					.transform(rotateX(89deg));
				}
				.menu__link{
					color: @white;
					background: @dark_red;
				}
			}
		}
		&__link{
			color: @dark_red;
			font-size: 15px;
			letter-spacing: 1px;
			padding: 5px 15px 3px;
			border-bottom: 1px solid #a6a6a6;
/*			&:hover{
				background: @dark_grey;
				color: @white;
			}*/
		}
		.front{
			padding: 5px 15px 3px;
			a{
				font-family: 'bebas_neue_regular';
				letter-spacing: 1px;
				font-size: 15px;
				color: @black;
				text-decoration: none;
				border-bottom: 1px solid #a6a6a6;
			}
		}
		.back a{
			color: @white;
			text-decoration: none;
			background: @dark_grey;
		}
	}
}
.no-csstransforms, .no-csstransforms3d{
	.menu{
		.back a{
			text-decoration: underline;
			background: transparent;
			&:hover{
				background: @dark_grey;
				color: @white;
				text-decoration: none;
			}
		}
	}
}