.form-block{
	background: #5e554d;
	.img-stamp{
		position: absolute;
		top: -15px;
		right: 0;
	}
	.wrap-box{
		width: 867px;
		margin: 0 auto;
	}
	&.form-top{
		background-image: url('../img/bg-img2.jpg');
		background-repeat: no-repeat;
		background-size: 135%;
		background-attachment: fixed;
		background-position: center top;
		.box-inner{
			padding: 65px 0;
			min-height: 700px;
		}
	}
	&.form-bottom{
		background-image: url('../img/bg-img3.jpg');
		background-repeat: no-repeat;
		background-size: 100%;
		background-attachment: fixed;
		background-position: bottom center;
		.box-inner{
			padding: 35px 0;
			min-height: 670px;
		}
		textarea, input{
			width: 480px;
		}
	}
}