.slider-block{
	.slider-wrap{
		width: 1024px;
		margin: 0 auto;
		height: 870px;
		/*overflow-y: hidden;*/
	}
	.owl-carousel{
		padding: 80px 0;
		height: 870px;
	}
	.slider-left{
		width: 575px;
	}
	.slider-right{
		width: 470px;
		.slider__info{
			padding: 40px 0;
		}
		p{
			font-size: 30px;
			line-height: 1.2em;
			padding: 5px 0 38px;
		}
		img{
			margin: 0 auto;
			height: 80px;
		}
		.sprite{
			margin: 0 auto;
		}
		.sprite-mouse{
			margin-top: 50px;
			height: 60px;
		}
		h2{
			color: @dark_red;
			line-height: 1.1em;
			width: 350px;
			padding-bottom: 63px;
			margin: 0 auto;
		}
		.owl-controls{
			position: absolute;
			top: 387px;
			right: -15px;
		}
		.owl-page{
			background: transparent;
			border: 1px solid @yellow;
			width: 14px;
			height: 14px;
			margin: 12px 0;
			.border-radius(7px);
			&.active, &:hover{
				background: @yellow;
			}
		}
	}
}
.no-js{
	.slider-wrap{
		height: auto;
	}
}